h1 {
    color: red;
}
#status {
    font-family: 'Courier New', Courier, monospace;
   /* Preserve spaces */
    border-right: 2px solid black;
    /* width: fit-content; */
    margin-top: 10px;
  }

  .grid {
    display: grid;grid-template-columns: 40% 60%;grid-column-gap: 8px;border: 2px solid rebeccapurple;
    height: 250px;
  }


  .img-grid-item {
    border-right: 3px dotted blue;
  }
  .result-grid-item  {
    overflow: auto;
  }

 
  #preview img {
    max-width: 300px; /* Limit image size */
    max-height: 300px;
  }